# Credenciales Portal Cooperativa Obrera
PORTAL_USER=usuario@ejemplo.com.ar
PLAIN_PASSWORD=tu_password_aqui

# Credenciales API Finnegans
FINNEGANS_CLIENT_ID=tu_client_id
FINNEGANS_CLIENT_SECRET=tu_client_secret
FINNEGANS_EMPRESA_COD=EMPRE01

# Configuración de Red / API
BASE_URL=https://proveedoresback.cooperativaobrera.coop
ORIGIN=https://proveedores.cooperativaobrera.coop
REFERER=https://proveedores.cooperativaobrera.coop/
HTTP_TIMEOUT=30
REINTENTOS=3
BACKOFF=0.5

# Parámetros de Proceso
DIAS_HACIA_ATRAS=10

# Directorios (Opcional)
# JSON_DIR=ruta/a/datos_parseados
# PDF_DIR=ruta/a/PDFs
# TEXTOS_DIR=ruta/a/TXTs
# LOGS_DIR=ruta/a/logs

# Valores por defecto Finnegans (Opcional)
FINNEGANS_CONDICION_PAGO=30
FINNEGANS_VENDEDOR_COD=MONTELEONE EDUARDO
FINNEGANS_INTERMEDIARIO_COD=17249
FINNEGANS_LISTA_PRECIO_COD=3
